<%= form_with(model: @task, local: true) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <% @task.errors.full_messages_for(:name).each do |message| %>
      <p class="has_error"><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <% @task.errors.full_messages_for(:description).each do |message| %>
      <p class="has_error"><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= f.label :status %>
    <%= f.select :status, t("task.statuses").invert, include_blank: true %>
    <% @task.errors.full_messages_for(:status).each do |message| %>
      <p class="has_error"><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= f.label :deadline %>
    <%= f.datetime_field :deadline %>
    <% @task.errors.full_messages_for(:deadline).each do |message| %>
      <p class="has_error"><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= f.label :priority %>
    <%= f.select :priority, t("task.priorities").invert, include_blank: true %>
    <% @task.errors.full_messages_for(:priority).each do |message| %>
      <p class="has_error"><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
