<%= render 'layouts/flash_messages' %>

<h1><%= t '.title' %></h1>
<%= link_to "#{t '.create'}" , new_task_path %>
<% @tasks.each do |task| %>
  <div>
    <h2><%= link_to task.name, task_path(task) %></h2>
    <p><%= link_to task.description, task_path(task) %></p>
    <p>作成日時: <%= l(task.created_at) %></p>
    <p><%= link_to "#{t '.edit'}", edit_task_path(task) %></p>
    <p><%= link_to "#{t '.delete'}", task_path(task), method: :delete, data: { confirm: "本当に削除しますか？" } %></p>
  </div>
<% end %>

