<%= render 'layouts/flash_messages' %>

<h1><%= t '.title' %></h1>
<%= link_to "#{t '.create'}" , new_task_path %>

<div>
  検索
  <%= form_with url: tasks_path, method: :get, local: true  do |f| %>
    <%= f.text_field :word %>
    <%= f.select :status, t("task.statuses").invert, include_blank: true %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<div class="created_at_sort">
  作成日時
  <%= link_to "▼", tasks_path(sort: "created_at", direction: "desc") %>
  <%= link_to "▲", tasks_path(sort: "created_at", direction: "asc") %>
</div>

<div class="deadline_sort">
  期限
  <%= link_to "▼", tasks_path(sort: "deadline", direction: "desc") %>
  <%= link_to "▲", tasks_path(sort: "deadline", direction: "asc") %>
</div>

<% @tasks.each do |task| %>
  <div>
    <h2><%= link_to task.name, task_path(task) %></h2>
    <p><%= link_to task.description, task_path(task) %></p>
    <p>作成日時: <%= l(task.created_at) %></p>
    <p>期限: <%= l(task.deadline) %></p>
    <p><%= link_to "#{t '.edit'}", edit_task_path(task) %></p>
    <p><%= link_to "#{t '.delete'}", task_path(task), method: :delete,
      data: { confirm: "本当に削除しますか？" }, class: "task_delete_button" %></p>
  </div>
<% end %>
<%= paginate @tasks, window: 2 %>
