<h1>タスクの詳細</h1>
<h2><%= @task.name %></h2>
<div>
  <p><%= @task.description %></p>
  <p>ステータス: <%= @task.status_i18n %></p>
  <p>期限: <%= @task.deadline_i18n %></p>
  <p>優先度: <%= @task.priority_i18n %></p>
</div>
