<h1><%= t '.title' %></h1>
<h2><%= @task.name %></h2>
<div>
  <p><%= @task.description %></p>
  <p>ステータス: <%= t(@task.status, scope: 'task.statuses') %></p>
  <p>期限: <%= l(@task.deadline) %></p>
  <p>優先度: <%= t(@task.priority , scope: 'task.priorities')%></p>
</div>
